<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/static/prism.css">
        <script src="/static/prism.js"></script>

    <title>Fun Api</title>
</head>

<body>
    <nav>

    </nav>
    <div class="container">
      
                <p>How to use the joke api?</p>
                <p>Python:</p>
                <pre class="language-js"><code>
from requests import get
joke = get("https://fun-api.up.railway.app/joke").text
print(joke)                 
                </code></pre>
            </li> 
          
        </ol>
    </div>
    <p>Made with ❤ by  <a href="https://github.com/shourgamer2">Shourgamer2</a></p> 

    <a href="https://github.com/shourgamer2/fun-api">Github/Source Code</a>
</body>

</html>